.config-page-awa {
  position: fixed;
  background-color: rgba(245, 200, 200, 0.2);
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(20px);
}
.config-page-container {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 15%;
  left: 15%;
  cursor: auto;
  border: 1px thin #cccccc10;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  padding: 15px;
  /* margin: 16px; */
  box-sizing: border-box;
  overflow-y: auto;
  min-width: 360px;
  min-height: 420px;
  resize: both;
}
.config-page-drag-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: move;
  background-color: transparent;
}
.config-page-iframe {
  border: 0;
  border-radius: 18px;
  overflow: hidden;
  box-sizing: border-box;
  overflow-y: auto;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 4px rgba(185, 185, 185, 0.2);
  background-color: rgba(255, 255, 255, 0.25);
  margin: -1px;
}
.config-page-close-btn {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  color: #C00;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
}
.config-page-close-btn:hover {
  color: #A00;
}
.config-page-close-btn:active {
  color: #f00;
  transform: scale(0.8);
  transition: 0.15s;
}
