#config-component-root {
  display: flex;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu {
  background-color: white;
  padding: 12px 2px 0 0;
}

.menu-about {
  color: palevioletred !important;
  position: absolute !important;
  bottom: 12px !important;
  width: auto !important;
}

.main {
  flex: 1;

  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.87);
  padding: 20px;
}

.menu,
.main {
  overflow: auto;
}

.line {
  background: #987cb9;
  width: -webkit-fill-available;
  height: 2px;
  border-radius: 20px;
  border: transparent;

  margin-top: -4px;
}
