@tailwind base;
@tailwind components;
@tailwind utilities;

.topmost {
  display: flex !important;
  position: fixed !important;
  z-index: 5201314 !important;
  width: 100% !important;
  height: 100% !important;
}

.main-container {
  position: fixed;
}

.floating-ball {
  display: flex;
  position: fixed;
  z-index: 5201314;
  top: calc(72vh);
  left: 0;

  width: 32px;
  height: 32px;

  padding: 6px;

  opacity: 0.3;
  transition: 0.2s;

  cursor: pointer;
  user-select: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;

  transform-origin: center;

  transform: translateX(-8px);

  background: #e3fdf5d7;
  box-shadow: 1px 0px 4px 0px #42275a, -1px 0px 1px 0px #b682ae22;
  border-radius: 0 45% 45% 0;

  color: #bfe2d1;
  font-size: large;
}
.floating-ball:hover {
  opacity: 0.7;
  background: #ffd5f7;
  transform: translateX(6px);
  border-radius: 50%;
  animation: all 0.3s ease-out;
  font-size: x-large;
}

.toolbar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  cursor: move;
}

.panel {
  animation-fill-mode: forwards;

  min-height: 300px;
  max-height: 65vh;

  width: fit-content;
  height: fit-content;
  position: static;
  padding: 4px;
  overflow: hidden;

  color: white;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(23, 23, 23, 0.85);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
  border-right: 1px rgba(40, 40, 40, 0.35) solid;
  filter: none;
}

.panel-main {
  transition: 0.25s;
  animation-fill-mode: forwards;
  padding: 4px;
  width: 100%;
  height: 100%;
  filter: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}
.less-visible {
  opacity: 0.25;
  filter: blur(1px);
  backdrop-filter: blur(4px);
}

.category-container {
  max-width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.content-container {
  overflow-y: auto;
  min-width: 480px;
  padding: 0px 4px;
  border-radius: 4px;
}
