#config-panel {
  position: fixed;
  /* top: calc(72vh);
    left: 10px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: scroll;
  animation-fill-mode: forwards;
}

@keyframes expandPanel {
  0% {
    width: 0;
    height: 0;
    background: #4facfe;
    box-shadow: none;
    opacity: 0.2;
    filter: none;
  }
  10% {
    width: 24px;
    height: 24px;
    border-radius: 25px;
    filter: blur(1px);
  }
  20% {
    width: 48px;
    height: 48px;
    background: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
  }
  25% {
    width: 48px;
    height: 48px;
    background: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    filter: blur(0);
  }
  50% {
    width: 42px;
    height: 60%;
    background: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    filter: none;
  }
  55% {
    width: 50px;
    height: 60%;
    background: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    filter: none;
  }
  85% {
    width: 64%;
    height: 63%;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.95;
    filter: none;
  }
  100% {
    width: 65%;
    height: 65%;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    filter: none;
  }
}

@keyframes collapsePanel {
  0% {
    width: 65%;
    height: 65%;
    opacity: 0.95;
    filter: blur(0)
  }
  70% {
    width: 64px;
    height: 64px;
    opacity: 0.6;
    filter: blur(2px);
  }
  85% {
    width: 80px;
    height: 80px;
    opacity: 0.75;
    filter: blur(1px);
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    filter: none;
  }
}
