.note-tweet
    transition: opacity 0.3s ease-out 0s
    padding: 2px 16px
    border: #EFF3F4 1px
    cursor: pointer
    font-size: 13px
    color: gray
.note-tweet:hover
        background-color: rgba(0, 0, 0, 0.1)
        color: black
