.hide-article-box,
.sidecolumn,
.hide-preCode-box,
.passport-login-container,
#recommendNps,
.template-box,
.blog-footer-bottom,
#blogColumnPayAdvert,
.article-type-img,
.recommend-item-box,
.recommend-right,
#dmp_ad_58,
aside {
    display: none !important;
}

.article-info-box,
.article-bar-top,
#article_content,
main div.blog-content-box .article-header-box .article-header div.article-info-box div.blog-tags-box,
header div.article-info-box div.blog-tags-box .tags-box.artic-tag-box a.tag-link,
main div.blog-content-box .article-header-box .article-header div.article-info-box div.blog-tags-box .tags-box,
#mainBox {
    margin: auto;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    padding-left: 0 !important;
    overflow: hidden;
}

.tag-link {
    margin: 5px 0 0 0 !important;
    overflow: hidden;
}

main div.blog-content-box article {
    padding-top: 10px;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top span {
    margin-right: 4px;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .follow-nickName {
    margin-right: 2px;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .bar-conten {
    padding-left: 0;
    margin-left: 10px;
}

pre .hljs-button {
    display: block;
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 12px;
    color: #ffffff;
    background-color: #666666;
    padding: 4px 12px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(0 0 0 / 5%), 0 2px 4px rgb(0 0 0 / 5%);
}

main div.blog-content-box pre.set-code-hide {
    height: auto !important;
}

/* 文章顶部信息 */
.article-info-box{ 
    opacity: 0.92;
}