.bili-video-card:has(svg.bili-video-card__info--ad),.feed-card:has(svg.bili-video-card__info--ad)
    display: none
#slide_ad  
    display: none
    /* 视频页右侧 */
#bannerAd 
    display: none
    /* 视频页banner */

.adblock-tips
    display: none
    /*  检测到您的页面展示可能受到浏览器插件影响，建议您将当前页面加入插件白名单，以保障您的浏览体验～ */