html,:root
    body
        // 视频上圆角
        video
            border-radius: 4px 4px 0 0
        .bpx-player-video-area
            border-radius: 4px 4px 0 0

        // 播放器背景
        #bilibili-player-placeholder
            box-shadow: 0 -2px 4px 1px rgba(255,255,255,0.1)
            border-radius: 4px 4px 12px 12px

            #bilibili-player-placeholder-top
                border-radius: 4px 4px 0 0
                background: transparent !important
            #bilibili-player-placeholder-bottom
                border-radius: 0 0 12px 12px
