#i_cecream .bili-feed4
    .bili-header
        .bili-header__bar.slide-down
            box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important
            background: rgba(255, 255, 255, .75)
            backdrop-filter: blur(10px)
    .header-channel
        background: rgba(255, 255, 255, .55)
        backdrop-filter: blur(5px)
    .header-channel:has(.header-channel-fixed-down)
        background: rgba(255, 255, 255, .7)
        backdrop-filter: blur(8px)
