#app .video-container-v1
    #viewbox_report
        h1
            text-wrap: wrap
    .left-container
        #playerWrap
            #bilibili-player
                .bpx-player-sending-area
                    margin-top: -1px

    .vcd , #live_recommand_report //AD
        display: none !important
